/* css cmt  */
/* comment  */
.formCmtNew {
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
  }
  .headCmtFormNew {
    margin-bottom: 5px;
    font-size: 16px;
    color: gray;
    font-weight: 500;
  }
  .infoCmtNew {
    margin: auto;
  }
  .gridCmtNew {
    display: grid;
    grid-template-columns: auto auto;
  }
  .grid-item-cmtNew {
    position: relative;
    text-align: center;
  }
  .grid-item-cmtNew> label {
    display: block;
  }
  .grid-item-cmtNew> input[type="number"]::-webkit-inner-spin-button,
  .grid-item-cmtNew> input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .form-controlFixNew {
    display: block;
    width: 90% !important;
    margin: auto !important;
    height: calc(1.5em + 0.75rem + 2px) !important;
    font-size: 1rem !important;
    font-weight: 400;
    line-height: 1.5;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    padding-left: 10px !important;
  }
  .form-controlFixNew:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
  }
  .labelFieldNew {
    position: absolute;
    top: 25%;
    left: 25px;
    z-index: 10;
    color: grey;
    font-size: 16px;
    pointer-events: none;
    transition: 0.25s ease;
  }
  .form-controlFixNew:not(:placeholder-shown) + .labelFieldNew,
  .form-controlFixNew:focus + .labelFieldNew {
    top: -10px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    background-color: #fff;
    color: #80bdff;
  }
  .textarea-cmtNew {
    position: relative;
    margin-top: 15px;
  }
  .form-controlFixTextareaNew {
    display: block;
    width: 95%;
    margin: auto !important;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding-left: 10px;
    resize: none;
  }
  .form-controlFixTextareaNew:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
  }
  .labelFieldTextareaNew {
    position: absolute;
    top: 25%;
    left: 25px;
    z-index: 10;
    color: grey;
    font-size: 16px;
    pointer-events: none;
    transition: 0.25s ease;
  }
  .form-controlFixTextareaNew:not(:placeholder-shown) + .labelFieldTextareaNew,
  .form-controlFixTextareaNew:focus + .labelFieldTextareaNew {
    top: -10px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    background-color: #fff;
    color: #80bdff;
  }
  .formBtnCmtNew {
    text-align: right;
    margin-top: 10px;
    margin-right: 15px;
  }
  .formBtn-CmtNew {
    padding: 5px 30px;
    color: black;
    border: 2px solid #fcb900;
    border-radius: 5px;
    background-color: #fcb900 !important;
    font-weight: 600;
    cursor: pointer;
  }
  .formBtn-CmtNew:hover {
    background-color: white;
    color: black;
    border: 2px solid #fcb900;
  }
  .divContentCmtNew {
    /* border: 1px solid grey; */
    border-radius: 5px;
    padding: 0px 10px;
    display: none;
    justify-content: space-between;
  }
  .pContentCmtNew {
    padding: 5px;
  }
  .commentsCmtNew {
    display: block;
    margin-left: 15px;
  }
  
  .containerCmtNew> li {
    list-style: none;
  }
  .cmtUlNew {
    border-left: 1px solid grey;
    padding-left: 15px;
      margin-bottom:5px;
  }
  .answerNew {
    margin-top: 10px;
    border-left: 1px solid blue;
    padding-left: 15px;
  }
  .aContentCmtNew {
    text-decoration: none;
  }
  
  .clearfixCmtNew {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0px 10px;
  }
  /* commentCard */
  
  .commentCardNew {
    border-left: 2px solid grey;
    border-radius: 0 0 0 50px;
    padding: 15px;
  }
  .footerContentCmtNew {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .nameTitleNew {
    color: grey;
    margin: 0px;
  }
  .pContentCmtNew {
    margin-bottom: 5px;
  }
  .footerContentCmtNew a {
    text-decoration: none;
    color: #ffd100;
    border: 1px solid #ffd100;
    border-radius: 5px;
    padding: 5px;
    display: grid;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .footerContentCmtNew .showReplyNew:hover {
    border: none;
    background-color: #ffd100;
    text-decoration: none;
    color: black;
    border: 1px solid #ffd100;
    border-radius: 5px;
    padding: 5px;
    display: grid;
    margin-bottom: 10px;
    text-align: center;
  }
  .footerContentCmtNew .showCommentNew {
    border: none;
    color: grey;
  }
  .footerContentCmtNew .showCommentNew:hover {
    border: none;
    color: black;
    background-color: none;
  }
  .comment_infoNew {
        color: #00b38f;
      background-color: #bfbfbf;
      padding-left: 15px;
  }
  @media only screen and (min-width: 1024px) {
    .labelFieldNew {
      left: 45px;
    }
    .labelFieldTextareaNew {
      left: 45px;
    }
  }
  
  
  .imgUploadNew {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 1.2rem;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
  
  }
  .imgUpLeftNew {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column-reverse;
  }
  .imgUpLeftNew > label {
    background-color: grey;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
  }
  .imgUpRightNew{
      margin-right:10px;
  }
  .previewNew>ol>li> img {
    width: 100px;
    height: 100px;
      padding-top: 10px;
  }
  
  .previewNew > ol {
    padding-left: 0;
  }
  .previewNew > ol > li {
    list-style: none;
  }
  @media only screen and (max-width: 700px) {
    .imgUploadNew{
      grid-template-columns: auto;
    }
    .imgUpLeftNew{
      margin-bottom: 5px;
    }
  }
  /* popup */
  .overlayNew {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 12;
  }
  .overlayNew:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popupNew {
    margin: 20% auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
  }
  .popupNew .closeNew {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popupNew .closeNew:hover {
    color: #fcb900;
  }
  .popupNew .contentNew {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .popupNew{
      width: 70%;
    }
    
  }
  /* button phan hoi  */
  .btn-replayNew{
    border-radius: 10px;
    border: 1px solid orange;
    background-color: white;
    color: orange;
    cursor: pointer;
    padding: 0px 10px;
    margin-top: 3px;
      font-size: 10px !important;
  }
  .btn-replayNew:hover{
   background-color: #fcb900;
   color: white;
   border: 1px solid orange;
  }
  