.formCmt {
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
}
.headCmtForm {
  margin-bottom: 5px;
  font-size: 16px;
  color: gray;
  font-weight: 500;
}
.infoCmt {
  margin: auto;
}
.gridCmt {
  display: grid;
  grid-template-columns: auto auto;
}
.grid-item-cmt {
  position: relative;
  text-align: center;
}
.grid-item-cmt label {
  display: block;
}
.grid-item-cmt input[type="number"]::-webkit-inner-spin-button,
.grid-item-cmt input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-controlFix {
  display: block;
  width: 90%;
  margin: auto;
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding-left: 10px;
}
.form-controlFix:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
}
.labelField {
  position: absolute;
  top: 25%;
  left: 25px;
  z-index: 10;
  color: grey;
  font-size: 16px;
  pointer-events: none;
  transition: 0.25s ease;
}
.form-controlFix:not(:placeholder-shown) + .labelField,
.form-controlFix:focus + .labelField {
  top: -10px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  background-color: #fff;
  color: #80bdff;
}
.textarea-cmt {
  position: relative;
  margin-top: 15px;
}
.form-controlFixTextarea {
  display: block;
  width: 95%;
  margin: auto;
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding-left: 10px;
  resize: none;
}
.form-controlFixTextarea:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
}
.labelFieldTextarea {
  position: absolute;
  top: 25%;
  left: 25px;
  z-index: 10;
  color: grey;
  font-size: 16px;
  pointer-events: none;
  transition: 0.25s ease;
}
.form-controlFixTextarea:not(:placeholder-shown) + .labelFieldTextarea,
.form-controlFixTextarea:focus + .labelFieldTextarea {
  top: -10px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  background-color: #fff;
  color: #80bdff;
}
.formBtnCmt {
  text-align: right;
  margin-top: 10px;
  margin-right: 15px;
}
.formBtn-Cmt {
  padding: 5px 30px;
  color: black;
  border: 2px solid #fcb900;
  border-radius: 5px;
  background-color: #fcb900;
  font-weight: 600;
  cursor: pointer;
}
.formBtn-Cmt:hover {
  background-color: white;
  color: black;
  border: 2px solid #fcb900;
}
.divContentCmt {
  /* border: 1px solid grey; */
  border-radius: 5px;
  padding: 0px 10px;
  display: none;
  justify-content: space-between;
}
.pContentCmt {
  padding: 5px;
}
.commentsCmt {
  display: block;
  margin-left: 15px;
}

.blog-comment li {
  list-style: none;
}
.cmtUl {
  border-left: 1px solid grey;
  padding-left: 15px;
}
.answer {
  margin-top: 10px;
  border-left: 1px solid blue;
  padding-left: 15px;
}
.aContentCmt {
  text-decoration: none;
}

.clearfixCmt {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0px 10px;
}
/* commentCard */

.commentCard {
  border-left: 2px solid grey;
  border-radius: 0 0 0 50px;
  padding: 15px;
}
.footerContentCmt {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nameTitle {
  color: grey;
  margin: 0px;
}
.pContentCmt {
  margin-bottom: 5px;
}
.footerContentCmt a {
  text-decoration: none;
  color: #ffd100;
  border: 1px solid #ffd100;
  border-radius: 5px;
  padding: 5px;
  display: grid;
  margin-bottom: 10px;
  text-align: center;
}

.footerContentCmt .showReply:hover {
  border: none;
  background-color: #ffd100;
  text-decoration: none;
  color: black;
  border: 1px solid #ffd100;
  border-radius: 5px;
  padding: 5px;
  display: grid;
  margin-bottom: 10px;
  text-align: center;
}
.footerContentCmt .showComment {
  border: none;
  color: grey;
}
.footerContentCmt .showComment:hover {
  border: none;
  color: black;
  background-color: none;
}
.comment_info{
  color: grey;
}
@media only screen and (min-width: 1024px) {
  .labelField {
    left: 45px;
  }
  .labelFieldTextarea {
    left: 45px;
  }
}
.file-upload {
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 100%;
  max-width: 150px;
  text-align: center;
  color: black;
  font-size: 20px;
  background: transparent;
  border: 2px solid #888;
  display: inline;
  -ms-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.file-upload:hover {
  background: #999;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
}
.file-upload input.file-input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  height: 100%;
}
.image{
  width: 150px;
  height: auto;
}
